{% extends "index.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block header %}
    <h1>Accueil</h1>
{% endblock %}

{% block content %}

    <!-- Affichage des messages flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="links">
        <a href="{{ url_for('web_ui.create_entry_form') }}">Créer une nouvelle entrée</a>
        <a href="{{ url_for('web_ui.list_entries') }}">Voir toutes les entrées</a>
        <a href="{{ url_for('web_ui.delete_entry_form') }}">Supprimer une entrée</a>
        <a href="{{ url_for('web_ui.update_entry_form') }}">Mettre à jour une entrée</a>
        <a href="{{ url_for('web_ui.import_csv') }}">Importer un fichier CSV</a>
    </div>

    <!-- Formulaire pour rechercher une entrée par son ID -->
    <div class="search-form">
        <form action="{{ url_for('web_ui.get_entry') }}" method="get">
            <label for="id">Rechercher une entrée par ID :</label>
            <input type="text" id="id" name="id" required>
            <button type="submit">Rechercher</button>
        </form>
    </div>

{% endblock %}
